<h1>user一覧</h1>
<div>
  <% if @users.present? %>
    <% @users.each do |user| %>
      <p>
        <%= user.name %>
        <%= link_to('詳細', user_path(user)) %>
        <%= link_to('削除', user_path(user), method: :delete, data: { confirm: '本当に削除しますか？'}) %>
      </p>
    <% end %>
  <% end %>
</div>
<%= link_to('追加', new_user_path) %>
